In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pre-cog/judges_clean/judges_clean.csv
/kaggle/input/pre-cog/acts_sections/acts_sections.csv
/kaggle/input/pre-cog/cases/cases_2015.csv
/kaggle/input/pre-cog/cases/cases_2012.csv
/kaggle/input/pre-cog/cases/cases_2018.csv
/kaggle/input/pre-cog/cases/cases_2013.csv
/kaggle/input/pre-cog/cases/cases_2017.csv
/kaggle/input/pre-cog/cases/cases_2010.csv
/kaggle/input/pre-cog/cases/cases_2014.csv
/kaggle/input/pre-cog/cases/cases_2016.csv
/kaggle/input/pre-cog/cases/cases_2011.csv
/kaggle/input/pre-cog/keys/type_name_key.csv
/kaggle/input/pre-cog/keys/cases_district_key.csv
/kaggle/input/pre-cog/keys/act_key.csv
/kaggle/input/pre-cog/keys/disp_name_key.csv
/kaggle/input/pre-cog/keys/purpose_name_key.csv
/kaggle/input/pre-cog/keys/cases_state_key.csv
/kaggle/input/pre-cog/keys/section_key.csv
/kaggle/input/pre-cog/keys/cases_court_key.csv
/kaggle/input/pre-cog/keys/judge_case_merge_key.csv

In [2]:
case_2018 = pd.read_csv('/kaggle/input/pre-cog/cases/cases_2016.csv')
print(case_2018.head())

                ddl_case_id  year  state_code  dist_code  court_no  \
0  01-01-01-201900000012016  2016           1          1         1
1  01-01-01-201900000022016  2016           1          1         1
2  01-01-01-201900000032016  2016           1          1         1
3  01-01-01-201900000042016  2016           1          1         1
4  01-01-01-201900000052016  2016           1          1         1

               cino             judge_position female_defendant  \
0  MHNB030000032016  chief judicial magistrate           0 male
1  MHNB030000042016  chief judicial magistrate           0 male
2  MHNB030000052016  chief judicial magistrate           0 male
3  MHNB030000062016  chief judicial magistrate           0 male
4  MHNB030000072016  chief judicial magistrate           0 male

  female_petitioner  female_adv_def  female_adv_pet  type_name  purpose_name  \
0            0 male           -9999               0     1940.0         767.0
1            0 male           -9999               0     1940.0         767.0
2          1 female           -9999               0     1940.0        4878.0
3            0 male           -9999               1     1940.0        7430.0
4            0 male           -9999               0     1940.0        5251.0

   disp_name date_of_filing date_of_decision date_first_list date_last_list  \
0         26     2016-01-02       2016-02-16      2016-01-02     2016-02-16
1         26     2016-01-02       2016-02-16      2016-01-02     2016-02-16
2         43     2016-01-02       2016-02-13      2016-01-02     2016-02-13
3         23     2016-01-05       2017-06-07      2016-01-05     2017-06-07
4         26     2016-01-06       2016-02-18      2016-01-06     2016-02-18

  date_next_list
0     2016-02-16
1     2016-02-16
2     2016-02-13
3     2017-06-07
4     2016-02-18

In [3]:
case_2018_a = case_2018.drop(case_2018.iloc[:, 3:7],
                       axis = 1)
print(case_2018_a.head())

                ddl_case_id  year  state_code female_defendant  \
0  01-01-01-201900000012016  2016           1           0 male
1  01-01-01-201900000022016  2016           1           0 male
2  01-01-01-201900000032016  2016           1           0 male
3  01-01-01-201900000042016  2016           1           0 male
4  01-01-01-201900000052016  2016           1           0 male

  female_petitioner  female_adv_def  female_adv_pet  type_name  purpose_name  \
0            0 male           -9999               0     1940.0         767.0
1            0 male           -9999               0     1940.0         767.0
2          1 female           -9999               0     1940.0        4878.0
3            0 male           -9999               1     1940.0        7430.0
4            0 male           -9999               0     1940.0        5251.0

   disp_name date_of_filing date_of_decision date_first_list date_last_list  \
0         26     2016-01-02       2016-02-16      2016-01-02     2016-02-16
1         26     2016-01-02       2016-02-16      2016-01-02     2016-02-16
2         43     2016-01-02       2016-02-13      2016-01-02     2016-02-13
3         23     2016-01-05       2017-06-07      2016-01-05     2017-06-07
4         26     2016-01-06       2016-02-18      2016-01-06     2016-02-18

  date_next_list
0     2016-02-16
1     2016-02-16
2     2016-02-13
3     2017-06-07
4     2016-02-18

In [4]:
case_2018_b = case_2018_a.drop(case_2018_a.iloc[:, 10:15],
                       axis = 1)
print(case_2018_b.head())

                ddl_case_id  year  state_code female_defendant  \
0  01-01-01-201900000012016  2016           1           0 male
1  01-01-01-201900000022016  2016           1           0 male
2  01-01-01-201900000032016  2016           1           0 male
3  01-01-01-201900000042016  2016           1           0 male
4  01-01-01-201900000052016  2016           1           0 male

  female_petitioner  female_adv_def  female_adv_pet  type_name  purpose_name  \
0            0 male           -9999               0     1940.0         767.0
1            0 male           -9999               0     1940.0         767.0
2          1 female           -9999               0     1940.0        4878.0
3            0 male           -9999               1     1940.0        7430.0
4            0 male           -9999               0     1940.0        5251.0

   disp_name
0         26
1         26
2         43
3         23
4         26

In [5]:
type_name = pd.read_csv('/kaggle/input/pre-cog/keys/type_name_key.csv')
print(type_name.head())

   year  type_name         type_name_s  count
0  2010        1.0            (m) t.s.     18
1  2010        2.0                (sc)      2
2  2010        3.0          ..mact 166     97
3  2010        4.0  04 complaint cases     19
4  2010        5.0    04 criminal case     21

In [6]:
type_name.drop(type_name[type_name['year'] != 2016].index, inplace = True)

In [7]:
print(type_name.head())

       year  type_name          type_name_s  count
40241  2016        NaN                  NaN     43
40242  2016        1.0             (m) t.s.    124
40243  2016        2.0           ..mact 166      7
40244  2016        3.0  01 bail_application      5
40245  2016        4.0   01 criminal appeal      1

In [8]:
type_name.reset_index()

      index  year  type_name          type_name_s  count
0     40241  2016        NaN                  NaN     43
1     40242  2016        1.0             (m) t.s.    124
2     40243  2016        2.0           ..mact 166      7
3     40244  2016        3.0  01 bail_application      5
4     40245  2016        4.0   01 criminal appeal      1
...     ...   ...        ...                  ...    ...
7378  47619  2016     7378.0        xxxxxpetition      4
7379  47620  2016     7379.0             yaddasta      3
7380  47621  2016     7380.0   zila panchayat act    409
7381  47622  2016     7381.0  zilla panchayat act    174
7382  47623  2016     7382.0    zimma application     52

[7383 rows x 5 columns]

In [9]:
type_name = type_name[(type_name['type_name_s'] == "divo cases") | (type_name['type_name_s'] == "divorce") | (type_name['type_name_s'] == "divorce case") | (type_name['type_name_s'] == "divorce on mutual consent") | (type_name['type_name_s'] == "divorce suit") | (type_name['type_name_s'] == "dmc") | (type_name['type_name_s'] == "dom viol") | (type_name['type_name_s'] == "domestic violence") | (type_name['type_name_s'] == "domestic violence ac") | (type_name['type_name_s'] == "domestic violence act 2005") | (type_name['type_name_s'] == "domestic violence act.") | (type_name['type_name_s'] == "domestic violence cases") | (type_name['type_name_s'] == "domestic voilenceact") | (type_name['type_name_s'] == "domestice violence act") | (type_name['type_name_s'] == "dop") | (type_name['type_name_s'] == "dowry prohibition act")]

In [10]:
print(type_name)

       year  type_name                 type_name_s  count
42666  2016     2425.0                  divo cases    108
42667  2016     2426.0                     divorce    179
42668  2016     2427.0                divorce case    299
42670  2016     2429.0   divorce on mutual consent   2155
42674  2016     2433.0                         dmc  10634
42681  2016     2440.0           domestic violence    778
42682  2016     2441.0        domestic violence ac    111
42684  2016     2443.0  domestic violence act 2005   2581
42687  2016     2446.0      domestic violence act.   1039
42689  2016     2448.0     domestic violence cases    358
42691  2016     2450.0        domestic voilenceact     55
42692  2016     2451.0      domestice violence act    742
42694  2016     2453.0                         dop    394
42696  2016     2455.0       dowry prohibition act     70

In [11]:
type_name = type_name.drop(['year'], axis=1)

In [12]:
mer_2018 = case_2018_b.merge(type_name, left_on="type_name", right_on="type_name", how="left")
print(mer_2018.head())

                ddl_case_id  year  state_code female_defendant  \
0  01-01-01-201900000012016  2016           1           0 male
1  01-01-01-201900000022016  2016           1           0 male
2  01-01-01-201900000032016  2016           1           0 male
3  01-01-01-201900000042016  2016           1           0 male
4  01-01-01-201900000052016  2016           1           0 male

  female_petitioner  female_adv_def  female_adv_pet  type_name  purpose_name  \
0            0 male           -9999               0     1940.0         767.0
1            0 male           -9999               0     1940.0         767.0
2          1 female           -9999               0     1940.0        4878.0
3            0 male           -9999               1     1940.0        7430.0
4            0 male           -9999               0     1940.0        5251.0

   disp_name type_name_s  count
0         26         NaN    NaN
1         26         NaN    NaN
2         43         NaN    NaN
3         23         NaN    NaN
4         26         NaN    NaN

In [13]:
mer_2018.dropna(subset=['type_name_s'], inplace=True)
print(mer_2018.head())

                     ddl_case_id  year  state_code female_defendant  \
633888  01-23-02-201300000042016  2016           1           0 male
633889  01-23-02-201300000112016  2016           1           0 male
633890  01-23-02-201300000122016  2016           1           0 male
633891  01-23-02-201300000142016  2016           1           0 male
633892  01-23-02-201300000152016  2016           1         1 female

       female_petitioner  female_adv_def  female_adv_pet  type_name  \
633888          1 female           -9999           -9999     2448.0
633889          1 female           -9999           -9999     2448.0
633890          1 female           -9999           -9999     2448.0
633891          1 female           -9999           -9999     2448.0
633892            0 male           -9999           -9999     2448.0

        purpose_name  disp_name              type_name_s  count
633888        2625.0         27  domestic violence cases  358.0
633889        2625.0         23  domestic violence cases  358.0
633890        3776.0         27  domestic violence cases  358.0
633891        2625.0         27  domestic violence cases  358.0
633892        2625.0         27  domestic violence cases  358.0

In [14]:
mer_2018_def = mer_2018

In [15]:
mer_2018.dropna(subset=['female_petitioner'], inplace=True)

In [16]:
mer_2018_final = mer_2018[(mer_2018['female_petitioner'] == "0 male") | (mer_2018['female_petitioner'] == "1 female")]
print(mer_2018_final.head())

                     ddl_case_id  year  state_code female_defendant  \
633888  01-23-02-201300000042016  2016           1           0 male
633889  01-23-02-201300000112016  2016           1           0 male
633890  01-23-02-201300000122016  2016           1           0 male
633891  01-23-02-201300000142016  2016           1           0 male
633892  01-23-02-201300000152016  2016           1         1 female

       female_petitioner  female_adv_def  female_adv_pet  type_name  \
633888          1 female           -9999           -9999     2448.0
633889          1 female           -9999           -9999     2448.0
633890          1 female           -9999           -9999     2448.0
633891          1 female           -9999           -9999     2448.0
633892            0 male           -9999           -9999     2448.0

        purpose_name  disp_name              type_name_s  count
633888        2625.0         27  domestic violence cases  358.0
633889        2625.0         23  domestic violence cases  358.0
633890        3776.0         27  domestic violence cases  358.0
633891        2625.0         27  domestic violence cases  358.0
633892        2625.0         27  domestic violence cases  358.0

In [17]:
fpet = mer_2018_final.groupby(['female_petitioner'])['ddl_case_id'].count().reset_index()
print(fpet)

  female_petitioner  ddl_case_id
0            0 male         7625
1          1 female        10922

In [18]:
fpet.rename(columns={fpet.columns[1]: '2016'},inplace=True)
print(fpet)

  female_petitioner   2016
0            0 male   7625
1          1 female  10922

In [19]:
fpet.to_csv('fpet_2016.csv')

In [20]:
mer_2018_def.dropna(subset=['female_defendant'], inplace=True)

In [21]:
mer_2018_def_final = mer_2018_def[(mer_2018_def['female_defendant'] == "0 male") | (mer_2018['female_defendant'] == "1 female")]
print(mer_2018_def_final.head())

                     ddl_case_id  year  state_code female_defendant  \
633888  01-23-02-201300000042016  2016           1           0 male
633889  01-23-02-201300000112016  2016           1           0 male
633890  01-23-02-201300000122016  2016           1           0 male
633891  01-23-02-201300000142016  2016           1           0 male
633892  01-23-02-201300000152016  2016           1         1 female

       female_petitioner  female_adv_def  female_adv_pet  type_name  \
633888          1 female           -9999           -9999     2448.0
633889          1 female           -9999           -9999     2448.0
633890          1 female           -9999           -9999     2448.0
633891          1 female           -9999           -9999     2448.0
633892            0 male           -9999           -9999     2448.0

        purpose_name  disp_name              type_name_s  count
633888        2625.0         27  domestic violence cases  358.0
633889        2625.0         23  domestic violence cases  358.0
633890        3776.0         27  domestic violence cases  358.0
633891        2625.0         27  domestic violence cases  358.0
633892        2625.0         27  domestic violence cases  358.0

In [22]:
fdef = mer_2018_def_final.groupby(['female_defendant'])['ddl_case_id'].count().reset_index()
print(fdef)

  female_defendant  ddl_case_id
0           0 male        11417
1         1 female         6708

In [23]:
fdef.rename(columns={fdef.columns[1]: '2016'},inplace=True)
print(fdef)

  female_defendant   2016
0           0 male  11417
1         1 female   6708

In [24]:
fdef.to_csv('fdef_2016.csv')