In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pre-cog/judges_clean/judges_clean.csv
/kaggle/input/pre-cog/acts_sections/acts_sections.csv
/kaggle/input/pre-cog/cases/cases_2015.csv
/kaggle/input/pre-cog/cases/cases_2012.csv
/kaggle/input/pre-cog/cases/cases_2018.csv
/kaggle/input/pre-cog/cases/cases_2013.csv
/kaggle/input/pre-cog/cases/cases_2017.csv
/kaggle/input/pre-cog/cases/cases_2010.csv
/kaggle/input/pre-cog/cases/cases_2014.csv
/kaggle/input/pre-cog/cases/cases_2016.csv
/kaggle/input/pre-cog/cases/cases_2011.csv
/kaggle/input/pre-cog/keys/type_name_key.csv
/kaggle/input/pre-cog/keys/cases_district_key.csv
/kaggle/input/pre-cog/keys/act_key.csv
/kaggle/input/pre-cog/keys/disp_name_key.csv
/kaggle/input/pre-cog/keys/purpose_name_key.csv
/kaggle/input/pre-cog/keys/cases_state_key.csv
/kaggle/input/pre-cog/keys/section_key.csv
/kaggle/input/pre-cog/keys/cases_court_key.csv
/kaggle/input/pre-cog/keys/judge_case_merge_key.csv

In [2]:
case_2018 = pd.read_csv('/kaggle/input/pre-cog/cases/cases_2013.csv')
print(case_2018.head())

                ddl_case_id  year  state_code  dist_code  court_no  \
0  01-01-01-201907002392013  2013           1          1         1
1  01-01-01-201908000012013  2013           1          1         1
2  01-01-01-201908000022013  2013           1          1         1
3  01-01-01-201908000032013  2013           1          1         1
4  01-01-01-201908000042013  2013           1          1         1

               cino             judge_position female_defendant  \
0  MHNB030009652013  chief judicial magistrate    -9998 unclear
1  MHNB030000112013  chief judicial magistrate           0 male
2  MHNB030000132013  chief judicial magistrate    -9998 unclear
3  MHNB030000182013  chief judicial magistrate           0 male
4  MHNB030000202013  chief judicial magistrate           0 male

  female_petitioner  female_adv_def  female_adv_pet  type_name  purpose_name  \
0          1 female               1               1     1919.0        2366.0
1            0 male           -9999               0     1919.0        7062.0
2            0 male           -9999               0     1919.0        5148.0
3          1 female           -9999               0     1919.0        5148.0
4          1 female           -9999               0     1919.0        5148.0

   disp_name date_of_filing date_of_decision date_first_list date_last_list  \
0         26     2013-09-19              NaN      2013-10-10     2019-01-31
1         25     2013-01-01       2013-01-01      2013-01-01     2013-01-01
2         30     2013-01-01       2013-01-08      2013-01-15     2013-01-08
3         25     2013-01-02       2013-08-12      2013-01-02     2013-07-24
4         22     2013-01-02       2015-08-10      2013-02-13     2015-08-03

  date_next_list
0     2019-02-20
1     2013-01-01
2     2013-01-08
3     2013-08-12
4     2015-08-10

In [3]:
case_2018_a = case_2018.drop(case_2018.iloc[:, 3:7],
                       axis = 1)
print(case_2018_a.head())

                ddl_case_id  year  state_code female_defendant  \
0  01-01-01-201907002392013  2013           1    -9998 unclear
1  01-01-01-201908000012013  2013           1           0 male
2  01-01-01-201908000022013  2013           1    -9998 unclear
3  01-01-01-201908000032013  2013           1           0 male
4  01-01-01-201908000042013  2013           1           0 male

  female_petitioner  female_adv_def  female_adv_pet  type_name  purpose_name  \
0          1 female               1               1     1919.0        2366.0
1            0 male           -9999               0     1919.0        7062.0
2            0 male           -9999               0     1919.0        5148.0
3          1 female           -9999               0     1919.0        5148.0
4          1 female           -9999               0     1919.0        5148.0

   disp_name date_of_filing date_of_decision date_first_list date_last_list  \
0         26     2013-09-19              NaN      2013-10-10     2019-01-31
1         25     2013-01-01       2013-01-01      2013-01-01     2013-01-01
2         30     2013-01-01       2013-01-08      2013-01-15     2013-01-08
3         25     2013-01-02       2013-08-12      2013-01-02     2013-07-24
4         22     2013-01-02       2015-08-10      2013-02-13     2015-08-03

  date_next_list
0     2019-02-20
1     2013-01-01
2     2013-01-08
3     2013-08-12
4     2015-08-10

In [4]:
case_2018_b = case_2018_a.drop(case_2018_a.iloc[:, 10:15],
                       axis = 1)
print(case_2018_b.head())

                ddl_case_id  year  state_code female_defendant  \
0  01-01-01-201907002392013  2013           1    -9998 unclear
1  01-01-01-201908000012013  2013           1           0 male
2  01-01-01-201908000022013  2013           1    -9998 unclear
3  01-01-01-201908000032013  2013           1           0 male
4  01-01-01-201908000042013  2013           1           0 male

  female_petitioner  female_adv_def  female_adv_pet  type_name  purpose_name  \
0          1 female               1               1     1919.0        2366.0
1            0 male           -9999               0     1919.0        7062.0
2            0 male           -9999               0     1919.0        5148.0
3          1 female           -9999               0     1919.0        5148.0
4          1 female           -9999               0     1919.0        5148.0

   disp_name
0         26
1         25
2         30
3         25
4         22

In [5]:
type_name = pd.read_csv('/kaggle/input/pre-cog/keys/type_name_key.csv')
print(type_name.head())

   year  type_name         type_name_s  count
0  2010        1.0            (m) t.s.     18
1  2010        2.0                (sc)      2
2  2010        3.0          ..mact 166     97
3  2010        4.0  04 complaint cases     19
4  2010        5.0    04 criminal case     21

In [6]:
type_name.drop(type_name[type_name['year'] != 2013].index, inplace = True)

In [7]:
print(type_name.head())

       year  type_name         type_name_s  count
18498  2013        NaN                 NaN      1
18499  2013        1.0            (m) t.s.     77
18500  2013        2.0          ..mact 166     80
18501  2013        3.0              0.s.la      1
18502  2013        4.0  01 criminal appeal      1

In [8]:
type_name.reset_index()

      index  year  type_name             type_name_s  count
0     18498  2013        NaN                     NaN      1
1     18499  2013        1.0                (m) t.s.     77
2     18500  2013        2.0              ..mact 166     80
3     18501  2013        3.0                  0.s.la      1
4     18502  2013        4.0      01 criminal appeal      1
...     ...   ...        ...                     ...    ...
7085  25583  2013     7085.0  xxxxxspl t electricity      1
7086  25584  2013     7086.0         xxxxxspl t scst      4
7087  25585  2013     7087.0                yaddasta      2
7088  25586  2013     7088.0       zcivil misc. case      1
7089  25587  2013     7089.0     zilla panchayat act     27

[7090 rows x 5 columns]

In [9]:
type_name = type_name[(type_name['type_name_s'] == "divo cases") | (type_name['type_name_s'] == "divorce") | (type_name['type_name_s'] == "divorce case") | (type_name['type_name_s'] == "divorce on mutual consent") | (type_name['type_name_s'] == "divorce suit") | (type_name['type_name_s'] == "dmc") | (type_name['type_name_s'] == "dom viol") | (type_name['type_name_s'] == "domestic violence") | (type_name['type_name_s'] == "domestic violence ac") | (type_name['type_name_s'] == "domestic violence act 2005") | (type_name['type_name_s'] == "domestic violence act.") | (type_name['type_name_s'] == "domestic violence cases") | (type_name['type_name_s'] == "domestic voilenceact") | (type_name['type_name_s'] == "domestice violence act") | (type_name['type_name_s'] == "dop") | (type_name['type_name_s'] == "dowry prohibition act")]

In [10]:
print(type_name)

       year  type_name                 type_name_s  count
20854  2013     2356.0                  divo cases    169
20855  2013     2357.0                     divorce    179
20856  2013     2358.0                divorce case    178
20858  2013     2360.0   divorce on mutual consent   2721
20860  2013     2362.0                divorce suit      8
20862  2013     2364.0                         dmc   8759
20863  2013     2365.0                    dom viol    458
20871  2013     2373.0           domestic violence    459
20872  2013     2374.0        domestic violence ac     51
20874  2013     2376.0  domestic violence act 2005   2274
20875  2013     2377.0      domestic violence act.    823
20877  2013     2379.0     domestic violence cases    161
20881  2013     2383.0        domestic voilenceact    124
20882  2013     2384.0      domestice violence act    224
20884  2013     2386.0                         dop    481
20885  2013     2387.0       dowry prohibition act      5

In [11]:
type_name = type_name.drop(['year'], axis=1)

In [12]:
mer_2018 = case_2018_b.merge(type_name, left_on="type_name", right_on="type_name", how="left")
print(mer_2018.head())

                ddl_case_id  year  state_code female_defendant  \
0  01-01-01-201907002392013  2013           1    -9998 unclear
1  01-01-01-201908000012013  2013           1           0 male
2  01-01-01-201908000022013  2013           1    -9998 unclear
3  01-01-01-201908000032013  2013           1           0 male
4  01-01-01-201908000042013  2013           1           0 male

  female_petitioner  female_adv_def  female_adv_pet  type_name  purpose_name  \
0          1 female               1               1     1919.0        2366.0
1            0 male           -9999               0     1919.0        7062.0
2            0 male           -9999               0     1919.0        5148.0
3          1 female           -9999               0     1919.0        5148.0
4          1 female           -9999               0     1919.0        5148.0

   disp_name type_name_s  count
0         26         NaN    NaN
1         25         NaN    NaN
2         30         NaN    NaN
3         25         NaN    NaN
4         22         NaN    NaN

In [13]:
mer_2018.dropna(subset=['type_name_s'], inplace=True)
print(mer_2018.head())

                     ddl_case_id  year  state_code female_defendant  \
536733  01-23-02-201300000012013  2013           1           0 male
536734  01-23-02-201300000042012  2013           1           0 male
536735  01-23-02-201300000102013  2013           1         1 female
536736  01-23-02-201300000122013  2013           1           0 male
536737  01-23-02-201300000152013  2013           1           0 male

       female_petitioner  female_adv_def  female_adv_pet  type_name  \
536733          1 female           -9999           -9999     2379.0
536734          1 female           -9999           -9999     2379.0
536735          1 female           -9999           -9999     2379.0
536736          1 female           -9999           -9999     2379.0
536737          1 female           -9999           -9999     2379.0

        purpose_name  disp_name              type_name_s  count
536733        2493.0         14  domestic violence cases  161.0
536734        2493.0         22  domestic violence cases  161.0
536735        2493.0         26  domestic violence cases  161.0
536736        2493.0         26  domestic violence cases  161.0
536737        2493.0         22  domestic violence cases  161.0

In [14]:
mer_2018_def = mer_2018

In [15]:
mer_2018.dropna(subset=['female_petitioner'], inplace=True)

In [16]:
mer_2018_final = mer_2018[(mer_2018['female_petitioner'] == "0 male") | (mer_2018['female_petitioner'] == "1 female")]
print(mer_2018_final.head())

                     ddl_case_id  year  state_code female_defendant  \
536733  01-23-02-201300000012013  2013           1           0 male
536734  01-23-02-201300000042012  2013           1           0 male
536735  01-23-02-201300000102013  2013           1         1 female
536736  01-23-02-201300000122013  2013           1           0 male
536737  01-23-02-201300000152013  2013           1           0 male

       female_petitioner  female_adv_def  female_adv_pet  type_name  \
536733          1 female           -9999           -9999     2379.0
536734          1 female           -9999           -9999     2379.0
536735          1 female           -9999           -9999     2379.0
536736          1 female           -9999           -9999     2379.0
536737          1 female           -9999           -9999     2379.0

        purpose_name  disp_name              type_name_s  count
536733        2493.0         14  domestic violence cases  161.0
536734        2493.0         22  domestic violence cases  161.0
536735        2493.0         26  domestic violence cases  161.0
536736        2493.0         26  domestic violence cases  161.0
536737        2493.0         22  domestic violence cases  161.0

In [17]:
fpet = mer_2018_final.groupby(['female_petitioner'])['ddl_case_id'].count().reset_index()
print(fpet)

  female_petitioner  ddl_case_id
0            0 male         6996
1          1 female         9064

In [18]:
fpet.rename(columns={fpet.columns[1]: '2013'},inplace=True)
print(fpet)

  female_petitioner  2013
0            0 male  6996
1          1 female  9064

In [19]:
fpet.to_csv('fpet_2013.csv')

In [20]:
mer_2018_def.dropna(subset=['female_defendant'], inplace=True)

In [21]:
mer_2018_def_final = mer_2018_def[(mer_2018_def['female_defendant'] == "0 male") | (mer_2018['female_defendant'] == "1 female")]
print(mer_2018_def_final.head())

                     ddl_case_id  year  state_code female_defendant  \
536733  01-23-02-201300000012013  2013           1           0 male
536734  01-23-02-201300000042012  2013           1           0 male
536735  01-23-02-201300000102013  2013           1         1 female
536736  01-23-02-201300000122013  2013           1           0 male
536737  01-23-02-201300000152013  2013           1           0 male

       female_petitioner  female_adv_def  female_adv_pet  type_name  \
536733          1 female           -9999           -9999     2379.0
536734          1 female           -9999           -9999     2379.0
536735          1 female           -9999           -9999     2379.0
536736          1 female           -9999           -9999     2379.0
536737          1 female           -9999           -9999     2379.0

        purpose_name  disp_name              type_name_s  count
536733        2493.0         14  domestic violence cases  161.0
536734        2493.0         22  domestic violence cases  161.0
536735        2493.0         26  domestic violence cases  161.0
536736        2493.0         26  domestic violence cases  161.0
536737        2493.0         22  domestic violence cases  161.0

In [22]:
fdef = mer_2018_def_final.groupby(['female_defendant'])['ddl_case_id'].count().reset_index()
print(fdef)

  female_defendant  ddl_case_id
0           0 male         8835
1         1 female         6014

In [23]:
fdef.rename(columns={fdef.columns[1]: '2013'},inplace=True)
print(fdef)

  female_defendant  2013
0           0 male  8835
1         1 female  6014

In [24]:
fdef.to_csv('fdef_2013.csv')